version: '3.8'

services:
  control:
    build: .
    image: sentra-v2:latest
    container_name: sentra-v2-control
    ports:
      - "8081:8080"
    environment:
      - SENTRA_DB_PATH=/data/sentra.db
      - SENTRA_JWT_SECRET=supersecret
      - SENTRA_AUTH_TOKEN=agent_secret_token
      - SENTRA_SERVER_ID=control
      - HOST_PROC=/host/proc
      - HOST_SYS=/host/sys
      - HOST_ETC=/host/etc
      - SENTRA_TLS_AUTO=true
      - SENTRA_DISABLE_AGENT=true
      - SENTRA_TLS_SANS=66.135.2.77
    cap_add:
      - NET_ADMIN
    volumes:
      - sentra_v2_data:/data
      - /lib/modules:/lib/modules:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc:/host/etc:ro
    restart: unless-stopped


  agent-1:
    build: .
    image: sentra-v2:latest
    container_name: sentra-v2-agent-1
    command: ./agent
    network_mode: "host"
    environment:
      - SENTRA_CONTROL_URL=https://127.0.0.1:8081
      - SENTRA_AUTH_TOKEN=agent_secret_token
      - SENTRA_SERVER_ID=agent-1
      - SENTRA_WG_INTERFACE=wg1
      - HOST_PROC=/host/proc
      - HOST_SYS=/host/sys
      - HOST_ETC=/host/etc
      - SENTRA_INSECURE_SKIP_VERIFY=true
    cap_add:
      - NET_ADMIN
    volumes:
      - /lib/modules:/lib/modules:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc:/host/etc:ro
    restart: unless-stopped



volumes:
  sentra_v2_data:
